{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}


{% block main %}
<div class="container mt-3 mb-3">
    <div class="d-flex justify-content-around">
        {% for category in categories %}
        <a href="{% url 'category' category.id %}"
           class="btn btn-outline-success btn-lg">
            <b>{{ category.title }}</b>
        </a>
        {% endfor %}
    </div>
</div>

<div class="container mb-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for article in articles %}
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <b>Категория: {{ article.category }}</b>
                        </div>

                        <div>
                            <b>Просмотры: {{ article.views }}</b>
                        </div>
                    </div>
                </div>
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.desc }}</p>
                </div>
                <div class="card-footer">
                    <div>
                        <b>:Автор: </b>
                    </div>
                    <div>
                        <b>{{ article.created_at }}</b>
                    </div>
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}
